@import "tailwindcss";

/* applies for all elements initial styling */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 244, 247, 0.804);
}

/* navbar styling */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem;
  padding: 1rem 2rem;
}
.navbar {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.navbar span,
.navbar a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(27, 24, 162);
}
.logout-btn:hover {
  color: rgb(222, 7, 7, 0.861);
  cursor: pointer;
}

/* home page styling */
.home-page {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
  justify-content: center;
  align-items: center;
}
.home-page-header,
.home-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(222, 7, 7, 0.861);
  width: 70vh;
  padding: 10px;
  border-radius: 18px;
}
.home-page-header{
  box-shadow: 0 5px 8px #444;
}
.home-text-container {
  box-shadow: 0 -5px 8px #444;
}
.home-header {
  font-size: 3rem;
}
.home-text {
  font-size: 1.5rem;
}



.footer {
  display: flex;
  justify-content: center;
  font-size: .75rem;
  margin-bottom: .5rem;
}
